.form-group
  .col-md-offset-2.col-md-8
    .alert.alert-danger{role:"alert"}
      %h2 #{object.errors.count} error prohibited this form from being saved:
      -object.errors.full_messages.each do |message|
        %ul
          %li= message
